.boxedImage {
	border: 1px solid #333;
	padding: 10px;
	margin: 10px;
}

table {
	border:1px solid #333;
}

td, th {
	border:1px solid #333;
}


.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
