.boxedImage {
	border: 1px solid #333;
	padding: 10px;
	margin: 10px;
}

table, td, th {
	border:1px solid #333;
	padding:2px;
	border-spacing:2px;
}

thead {
	background-color:#ddd;
}


.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
